.blur {
    color: transparent !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: text-shadow 2.0 ease-out;
    -moz-transition: text-shadow 2.0 ease-out;
    -ms-transition: text-shadow 2.0 ease-out;
    -o-transition: text-shadow 2.0 ease-out;
    transition: text-shadow 2.0 ease-out;
}